<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Описание страницы. Не менее 160 символов. " />
        <meta name="keywords" content="Здесь указываем список ключевых слов, разделенные запятой." />
        <title>Главная страница</title>
    </head>
    <body>
        <h1><font face="Arial">Поиск книги</h1>
        <input id="lnk" placeholder="Я ищу...">
        <input type="button" value="Поиск" onclick="window.open ('/search/' + document.getElementById ('lnk').value, '_blank')">
    </body>
</html>